<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Icon site -->
    <link rel="icon" href="/public/favicon.ico" />

    <title>Castelo de Receitas</title>

    <!-- fontes -->

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700;800&display=swap"
      rel="stylesheet"
    />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Cookie&display=swap"
      rel="stylesheet"
    />

    <!-- reset -->

    <link rel="stylesheet" href="/assets/resources/styles/main.css" />
    <link rel="stylesheet" href="/assets/resources/styles/reset.css" />

    <!-- bootstrap -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />

    <!-- Link Swiper's CSS -->
    <link
      rel="stylesheet"
      href="https://unpkg.com/swiper/swiper-bundle.min.css"
    />

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <!-- CSS created -->
    <link rel="stylesheet" href="/assets/resources/styles/header/header.css" />
    <link rel="stylesheet" href="/assets/resources/styles/footer/footer.css" />
    <link rel="stylesheet" href="/assets/resources/styles/modal/modal.css" />
    <link
      rel="stylesheet"
      href="/assets/resources/styles/page-recipe/page-recipe.css"
    />
  </head>
  <body>
    <div class="page-recipe login-off">
      <header class="p-3 bg-light text-black top-header">
        <div class="container">
          <div
            class="d-flex flex-wrap align-items-center justify-content-sm-between"
          >
            <a
              href="/"
              class="logo d-flex align-items-center mb-2 mb-lg-0 text-black text-decoration-none"
            >
              <img src="/public/logo.svg" alt="" />
            </a>

            <div class="send-recipe btn-group">
              <a
                class="btn text-uppercase border border-primary rounded-pill"
                id="send-btn"
                href="#"
                role="button"
              >
                <img class="" src="/public/kitchen-hat.svg" alt="" />
                <span>Envie sua receita</span>
              </a>
            </div>

            <form class="search col-12 col-lg-auto">
              <img src="/public/bloom.jpg" alt="" />
              <input
                type="search"
                class="form-control form-control-dark rounded-pill fs-6"
                placeholder="Busque uma receita"
                aria-label="Search"
              />
            </form>

            <div class="text-end btn-group section-user">
              <select
                class="form-select form-select-lg"
                aria-label=".form-select-sm example"
              >
                <option selected>Minha conta</option>
                <option value="1">sair</option>
              </select>
              <a
                href="/src/register-page.html"
                type="button"
                class="btn col-sm-12"
                >Ver minhas receitas</a
              >
            </div>

            <div class="sign text-end btn-group">
              <a href="/src/login-page.html" type="button" class="sign-up me-2"
                >Login</a
              >
              <a
                href="/src/register-page.html"
                type="button"
                class="sign-in btn-2"
                >Cadastre-se</a
              >
            </div>
          </div>
        </div>
      </header>

      <main>
        <div class="container">
          <div class="col col-gallery">
            <img
              src="/public/arroz-forno-integral-carne-receitas.jpg"
              alt="arroz-forno-integral-carne-receitas"
            />
          </div>
          <div class="text-center p-3 mb-5 col col-description">
            <h1>Arroz de Forno Integral com Carne</h1>
            <p class="description">
              Receita de Arroz de Forno Integral com Carne saboroso feito com
              carne, ervilhas frescas, cenoura, pimentão e MAGGI Equilibrium
              Caldo de Carne
            </p>
          </div>

          <div class="d-flex col col-recipe-instructions">
            <div class="col-sm-3 col-ingredients">
              <h3 class="title">Ingredientes</h3>
              <div class="view-content">
                <div class="ingredients-box">
                  <ul>
                    <li>1 xícara (chá) de arroz integral</li>
                    <li>1 cebola pequena picada</li>
                    <li>1 dente de alho amassado</li>
                    <li>350 g de alcatra em cubos pequenos</li>
                    <li>1 xícara (chá) de ervilhas frescas</li>
                    <li>1 cenoura ralada</li>
                    <li>meia xícara (chá) de pimentão amarelo em cubos</li>
                    <li>2 colheres (sopa) de azeitonas verdes picadas</li>
                    <li>2 colheres (sopa) de azeite</li>
                    <li>2 tabletes de MAGGI® Equilibrium Caldo Carne</li>
                    <li>4 xícaras (chá) de água</li>
                  </ul>
                </div>
              </div>
            </div>

            <div class="col-sm-8 col-instructions">
              <h3 class="title">Modo de preparo</h3>
              <div class="view-contents">
                <div class="ingredients-box">
                  <p>
                    Em um recipiente refratário médio, misture o arroz integral,
                    a cebola, o alho, a carne, as ervilhas, a cenoura, o
                    pimentão, as azeitonas, o azeite e o MAGGI Caldo dissolvido
                    na água.
                  </p>
                  <p>
                    Cubra com papel-alumínio e leve ao forno médio-alto (200°C),
                    preaquecido, por cerca de 50 minutos, mexendo na metade do
                    tempo.
                  </p>
                  <p>
                    Retire o papel-alumínio e retorne ao forno por mais 10
                    minutos, ou até secar a água. Sirva a seguir.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="container sector-comments">
          <div class="d-flex justify-content-center">
            <div>
              <h4>Deixe seu comentário</h4>
              <div class="d-flex align-items-sm-start add-comments">
                <img src="/public/user.svg" alt="Imagem do usuario" />
                <textarea name="text-comments" id="text-comments" cols="45" rows="5"></textarea>
              </div>
              <div class="d-flex justify-content-end my-3 area-btn">
                <button class="btn btn-primary send-comment" type="submit">
                  Eviar
                </button>
              </div>
            </div>
          </div>
        </div>
      </main>

      <section class="modal" id="modal">
        <!-- Modal content -->
        <div class="modal-content">
          <span class="close">&times;</span>

          <div class="d-flex justify-content-center title-modal">
            <p class="text-center">
              Por meio do cadastro você poderá cadastrar receitas, fazer
              comentários e interagir com a comunidade . Venha fazer parte da
              nossa comunidade de receitas!
            </p>
          </div>

          <div class="sign text-end btn-group">
            <a href="/src/login-page.html" type="button" class="sign-up"
              >Login</a
            >
            <a
              href="/src/register-page.html"
              type="button"
              class="sign-in btn-2"
              >Cadastre-se</a
            >
          </div>
        </div>
      </section>

      <footer class="text-center">
        <!-- Section: Social media -->
        <section
          class="d-flex justify-content-center p-4 border-bottom newsletter-container"
        >
          <!-- Left -->
          <div class="text-center newsletter-content">
            <h3>
              Quer ficar por dentro das novidades do Castelo de Receitas, criar
              foodlists e receber dicas?
            </h3>
            <a href="/src/register-page.html" class="link-register">
              <button class="btn sign-in">Cadastre-se</button>
            </a>
          </div>
          <!-- Left -->
        </section>
        <!-- Section: Social media -->

        <!-- Copyright -->
        <div class="copywriter text-lg-center p-4">
          <div class="container text-white">
            ©2019, Castelo de receitas Brasil Ltda.
            <a class="text-reset fw-bold" href="https://mdbootstrap.com/"
              >Todos os direitos reservados. Política de Privacidade</a
            >
          </div>
        </div>
        <!-- Copyright -->
      </footer>
    </div>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
      integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
      integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
      crossorigin="anonymous"
    ></script>

    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <script src="/assets/libraries/swipe-library.js"></script>

    <script src="/assets/resources/scripts/modal.js"></script>
  </body>
</html>
