@import '../variables';

@mixin styleBtn {
  background-color: $dark-blue;
  border: 1px solid $dark-blue;
  color: $white-primary;
  border-radius: 50px;
  font-size: 14px;
  font-weight: 700;
  transition: all 0.3s ease-in-out;
  position: initial;
  text-transform: uppercase;
  text-decoration: none;
}

@mixin headDefault {
  header.top-header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    .send-recipe {
      a {
        display: flex;
        align-items: center;
        gap: 10px;
      }
    }

    .search {
      margin-bottom: 2rem;
      img {
        position: relative;
        left: 1rem;
        top: 2.6rem;
      }

      input {
        padding: 0.8rem 0 0.8rem 5rem;
      }
    }

    .sign {
      display: flex;
      align-items: center;

      .sign-up,
      .sign-in {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 8rem;
        height: 48px;
        border-radius: 50px;
        border: 2px solid $dark-blue;
        font-size: 14px;
        font-weight: 700;
        transition: all 0.3s ease-in-out;
        position: initial;
        text-transform: uppercase;
        text-decoration: none;
      }
      .sign-up {
        color: $dark-blue;
      }
      .sign-in {
        background-color: $dark-blue;
        color: $white-primary;
      }
    }

    .section-user {
      display: none;
    }

    .title-main {
      padding: 2vh 22.5vw;
      background-color: $dark-blue;
      color: $white-primary;
    }
  }
}

.page-login,
.page-register {
  @include headDefault();
}
.login-off {
  @include headDefault();
}

.login-on {
  header.top-header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    .send-recipe {
      a {
        display: flex;
        align-items: center;
        gap: 10px;
      }
    }

    .search {
      margin-bottom: 2rem;
      img {
        position: relative;
        left: 1rem;
        top: 2.6rem;
      }

      input {
        padding: 0.8rem 0 0.8rem 5rem;
      }
    }

    .section-user {
      gap: 30px;

      .list-option {
        img {
          width: 3rem;
          cursor: pointer;
        }

        a {
          text-decoration: none;
          color: $white-primary;
        }

        .list-user-section {
          position: absolute;
          display: none;
        }
      }

      .list-option:hover {
        .list-user-section {
          position: absolute;
          width: 11rem;
          top: 41px;
          left: -60px;
          background-color: $light-blue;
          display: flex;
          align-items: center;
          justify-content: flex-start;
          font-size: 20px;
          border-radius: 20px;
          ul {
            li > a:hover {
              color: $darker-blue;
            }
          }
        }
      }

      .btn {
        display: flex;
        align-items: center;
        @include styleBtn;
      }
    }

    .sign {
      display: none;
    }

    .title-main {
      padding: 2vh 22.5vw;
      background-color: $dark-blue;
      color: $white-primary;
    }
  }
}
