@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700;800&display=swap");
.login-off header.top-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.login-off header.top-header .send-recipe a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}

.login-off header.top-header .search {
  margin-bottom: 2rem;
}

.login-off header.top-header .search img {
  position: relative;
  left: 1rem;
  top: 2.6rem;
}

.login-off header.top-header .search input {
  padding: 0.8rem 0 0.8rem 5rem;
}

.login-off header.top-header .sign {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.login-off header.top-header .sign .sign-up,
.login-off header.top-header .sign .sign-in {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 8rem;
  height: 48px;
  border-radius: 50px;
  border: 2px solid #1fb3e3;
  font-size: 14px;
  font-weight: 700;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  position: initial;
  text-transform: uppercase;
  text-decoration: none;
}

.login-off header.top-header .sign .sign-up {
  color: #1fb3e3;
}

.login-off header.top-header .sign .sign-in {
  background-color: #1fb3e3;
  color: #fff;
}

.login-off header.top-header .section-user {
  display: none;
}

.login-off header.top-header .title-main {
  padding: 2vh 22.5vw;
  background-color: #1fb3e3;
  color: #fff;
}

.login-on header.top-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.login-on header.top-header .send-recipe a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}

.login-on header.top-header .search {
  margin-bottom: 2rem;
}

.login-on header.top-header .search img {
  position: relative;
  left: 1rem;
  top: 2.6rem;
}

.login-on header.top-header .search input {
  padding: 0.8rem 0 0.8rem 5rem;
}

.login-on header.top-header .section-user {
  gap: 30px;
}

.login-on header.top-header .section-user .list-option img {
  width: 3rem;
  cursor: pointer;
}

.login-on header.top-header .section-user .list-option a {
  text-decoration: none;
  color: #fff;
}

.login-on header.top-header .section-user .list-option .list-user-section {
  position: absolute;
  display: none;
}

.login-on header.top-header .section-user .list-option:hover .list-user-section {
  position: absolute;
  width: 11rem;
  top: 41px;
  left: -60px;
  background-color: #7acaf0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  font-size: 20px;
  border-radius: 20px;
}

.login-on header.top-header .section-user .list-option:hover .list-user-section ul li > a:hover {
  color: #174459;
}

.login-on header.top-header .section-user .btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #1fb3e3;
  border: 1px solid #1fb3e3;
  color: #fff;
  border-radius: 50px;
  font-size: 14px;
  font-weight: 700;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  position: initial;
  text-transform: uppercase;
  text-decoration: none;
}

.login-on header.top-header .sign {
  display: none;
}

.login-on header.top-header .title-main {
  padding: 2vh 22.5vw;
  background-color: #1fb3e3;
  color: #fff;
}
/*# sourceMappingURL=header.css.map */