@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700;800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700;800&display=swap');

$font-Cookie: 'Cookie', cursive;
$font-Poppins: 'Poppins', sans-serif;

$ligth-blue: #7acaf0;
$dark-blue: #1fb3e3;
$darker-blue: #174459;

$white-primary: #fff;
$white-secondary: #e1e1e1;
$grey-primary: #bebebe;

$black: #000;
$shadow: -2px 48px 56px -41px rgba(0, 0, 0, 0.37);
