footer {
  background-color: #cef0f9 !important;
  .newsletter-container {
    .newsletter-content {
      display: flex;
      align-items: center;
      flex-direction: column;
      gap: 10px;
     
      h3 {
        font-size: 18px;
      }

      .sign-in {
        font-family: 'Cookie', cursive;
        font-size: 24px;
        width: 14rem;
        height: 48px;
        border-radius: 30px;
        color: #fff;
        background-color: #1fb3e3;
        font-weight: 700;
        transition: all 0.3s ease-in-out;
        position: initial;
        text-transform: uppercase;
        text-decoration: none;
      }
    }
  }

  .copywriter {
    background-color: #1fb3e3;
  }
}
