main {
  font-family: 'Poppins', sans-serif;
  height: 60vh;

  .form-row {
    .form-group {
      label {
        color: #1fb3e3;
      }

      input {
        border: 1px solid #1fb3e3;
        width: 27vw;
      }
    }
  }

  .form-group {
    .btn-login {
      
      width: 8rem;
      height: 48px;
      font-size: 18px;
      border-radius: 30px;
      color: #fff;
      background-color: #1fb3e3;
      font-weight: 700;
    }
  }
}
