@import '../variables';

@mixin styleBtn {
  background-color: $dark-blue;
  border: 1px solid $dark-blue;
  border-radius: 50px;
  font-size: 14px;
  font-weight: 700;
  transition: all 0.3s ease-in-out;
  position: initial;
  text-transform: uppercase;
  text-decoration: none;
}

.page-user-data {
  main {
    form {
      border: 1px solid $black;
      .form-group {
        label {
          color: $dark-blue;
          width: 7rem;
        }
      }

      .form-buttons {
        gap: 20px;
      }

      .btn {
        @include styleBtn;
      }
    }
  }

  .back-home {
    .btn {
      @include styleBtn;
    }
  }
}
